$text: #B2B6BD;
$background: #2b303b;
$selection-text-and-header-background: #1c212b;
$selection-background-and-link-hover: #a3be8c;
$heading: #739a99;
$border: #424650;

$contessa: #bf6165;
$comet: #4f586b;
$river-bed: #424a5a;

$purple: #846d8f;
$purple-2: #685771;

$silver: #ccc;


$color1: #19222b;
$color2: #333d49;
$color3: #4c596a;
$color4: #a0bd8f;
$color5: #699999;
$color6: #cb6066;
$color7: #866f8c;