/* ==========================================================================
   8. Footer - The bottom of every page
   ========================================================================== */

.site-footer {
    position: relative;
    //margin-top: -200px;
    margin: 8rem 0 0 0;
    padding: 4rem 0;
    border-top: #1a1e27 1px solid;
    font-size: 1.3rem;
    line-height: 1.7em;
    color: $text;
    text-align: center;
    background: $selection-text-and-header-background;
    a {
        color: $footer-link-text;
        text-decoration: underline;
        &:hover {
            color: $footer-link-hover;
        }
    }
}

.poweredby {
    .icon-ghost {
        color: $catches-the-eye;
        font-weight: 700;
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
        &:before {
            font-size: 1rem;
            margin-right: 0.2em;
        }
    }
}