/* ==========================================================================
   5. Single Post - When you click on an individual post
   ========================================================================== */
.post {
  &-template .post {
    //margin-top: 0;
    border-bottom: #424650 1px solid;
    //padding-bottom: 0;
    margin: 4rem auto;

    &:after {
      display: none;
    }
    /*
    &-header {
      padding: 60px 0;
    }
    */
  }

  &-header {
    padding: 60px 0;
  }

  &-content img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }
  &-footer {
    position: relative;
    margin: 4rem 0 0 0;
    padding: 4rem 0 0 0;
    border-top: $border 1px solid;
    h4 {
      font-size: 1.8rem;
      margin: 0;
    }
    p {
      margin: 1rem 0;
      font-size: 1.4rem;
      line-height: 1.6em;
    }
    .author {
      margin-right: 180px;
    }

    &:after {
      clear: both;
      content: "";
      display: table;
    }
  }
}

.post-info-label {
  margin-right: 0.75em;
  font-size: 1em;
  line-height: 3rem;
  font-weight: 400;
  color: $color-neutral-60;
}

.post-share {
  position: relative;
  max-width: 33.33333%;
  float: right;
  display: flex;
  @media only screen and (max-width: $breakpoint-medium) {
    max-width: none;
    float: none;
    margin-bottom: 2rem;
  }
}

.post-share a {
  display: block;
  width: 3rem;
  height: 3rem;
  margin-right: 0.5em;
  padding: 0;
  font-size: 1em;
  line-height: 3rem;
  text-align: center;
  text-decoration: none;
  color: $color4; // #b2b6bd;
  border-radius: 2em;
  transition: all ease 0.2s;

  @media only screen and (max-width: $breakpoint-medium) {
    margin-left: 0;
    margin-right: 0.66667em;
  }

  &:focus,
  &:hover {
    color: $color1;
    background-color: $color4;
  }
}

.post-share a:last-child {
  margin-right: 0;
}

.post-share a i {
  color: inherit;

  &:before {
    width: auto;
    height: auto;
  }
}

.post-tags {
  position: relative;
  max-width: 66.66666%;
  float: left;
  display: flex;
  flex-wrap: wrap;
  
  @media only screen and (max-width: 640px) {
    max-width: none;
    float: none;
    margin-bottom: 2rem;
  }
}

.post-tags a {
  display: inline-block;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  padding: 0 1.5rem;
  background: $color3;
  font-size: 1em;
  font-weight: 500;
  line-height: 3rem;
  text-align: center;
  text-decoration: none;
  color: $text;
  border-radius: 2em;
  transition: all ease 0.2s;
  box-sizing: border-box;
  white-space: nowrap;

  &:focus,
  &:hover {
    color: $color1;
    background: $color5;
    text-decoration: none;
  }
}

/* ==========================================================================
   Reading Progress
   ========================================================================== */
.progress-container {
  position: fixed;
  width: 100%;
  height: 4px;
  left: 0;
  top: 0;
  z-index: 1000;
  background: transparent;
  transition: all ease-out 0.2s;

  &.complete {
    transform: translateY(-3px);
  }
}

.progress-bar {
  display: block;
  width: 0;
  height: 3px;
  background: $catches-the-eye;
}

/* ==========================================================================
   Post nav
   ========================================================================== */
.post-nav {
  position: relative;
  margin-top: 40px;
  border-top: #424650 1px solid;
  //border-bottom: 1px solid $color-border;
  padding: 2rem 0 0 0;
}

.post-nav:after {
  position: absolute;
  content: "";
  width: 1px;
  height: 100%;
  left: 50%;
  top: 10px;
  background: $border;
  z-index: 2;

  @media only screen and (max-width: $breakpoint-medium) {
    display: none;
  }
}

.post-nav-next,
.post-nav-prev {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  width: 49%;

  @media only screen and (max-width: $breakpoint-medium) {
    display: block;
    width: 100%;
  }

  &:focus,
  &:hover {
    color: inherit;

    i {
      color: $catches-the-eye;
    }
  }
}

.post-nav-next {

  .post-nav-teaser {
    padding-right: 3rem;

    @media only screen and (max-width: $breakpoint-medium) {
      padding-right: 0;
    }
  }
}

.post-nav-prev {

  .post-nav-teaser {
    padding-left: 3rem;

    @media only screen and (max-width: $breakpoint-medium) {
      padding-left: 0;
    }
  }

  /*&:after {
    content: "";
  }*/
}

.post-nav-teaser {
  position: relative;
  padding: 2rem 0;
  min-height: 8rem;

  @media only screen and (max-width: $breakpoint-medium) {
    min-height: 4em;
    padding: 2em 0;

    &:after {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      left: 0;
      bottom: 0;
      margin-bottom: -1px;
      background: $border;
      z-index: 2;
    }
  }
}

.post-nav i {
  position: absolute;
  top: 50%;
  width: 4rem;
  height: 4rem;
  margin-top: -2rem;
  font-size: 4rem;
  line-height: 4rem;
  text-align: center;
  transition: all ease-out 0.2s;
  color: $border;

  &:before {
    margin: 0;
    width: auto;
  }
}

.post-nav-next i {
  left: 0;
  margin-left: -4rem;
}

.post-nav-prev i {
  right: 0;
  margin-right: -4rem;
}

.post-nav-title {
  margin: 0 0 0.5rem;
  padding: 0;
  font-size: 1em;
  line-height: 3rem;
  color: inherit;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $heading;
}

.post-nav-excerpt {
  height: 5rem;
  margin: 0 0 1rem;
  //font-family: "Cardo", serif;
  font-size: 0.75em;
  line-height: 2.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $text;
}

.post-nav-meta {
  margin: 0;
  font-size: 1em;
  line-height: 2rem;
  color: $purple;
}
