/* ==========================================================================
   Search
   ========================================================================== */
#search {
  position: fixed;
  z-index: 500;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background: $color1;
  display: none;

  @media only screen and (max-width: $breakpoint-medium) {
    display: block;
    transition: all ease-out 0.3s;
    transform: translate3d(0, 100%, 0);
    border-top: 1px solid $border;
  }

  #results {
    padding-bottom: calc(12rem + 8vw);
  }
}

.search-active {
  overflow-y: hidden;

  #search {
    display: block;
    @media only screen and (max-width: $breakpoint-medium) {
      transform: translate3d(0, 0, 0);
    }
  }
}

.search {
  padding: 2rem 0;
  display: flex;

  input[type="text"] {
    font-size: 2em;
    width: 100%;
    height: 5rem;
    margin: -0.5rem 0;
    padding: 0 2rem;
    border-radius: 5rem;
    border: 1px solid $border;
    background: $color1;
    box-sizing: border-box;
    box-shadow: none !important;
    outline: 0 !important;

    &:focus,
    &:hover {
      border-color: $color-active;
    }
  }

  input[type="submit"] {
    appeareance: none;
    background: none;
    border: 0;
    display: none;
  }
}

.search-close {
  position: fixed;
  z-index: 600;
  top: 0;
  right: 0;
  width: 4rem;
  height: 4rem;
  margin: 2rem;
  border: 1px solid $border;
  border-radius: 4rem;
  box-sizing: border-box;
  cursor: pointer;
  transition: all ease-out 0.1s;

  &:after,
  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 20%;
    width: 60%;
    height: 2px;
    margin-top: -1px;
    border-radius: 2px;
    background: $background;
    transition: all ease-out 0.1s;
  }

  &:after {
    transform: rotate(45deg);
  }

  &:before {
    transform: rotate(-45deg);
  }

  &:focus,
  &:hover {
    border-color: $color-active;

    &:after,
    &:before {
      background: $color-active;
    }
  }
}
