/*
.site-nav {
    ul {
        padding: 0;
        
        li {
            display: inline-block;
            list-style: none;
        }
    }
    
    .post-header & {
        text-align:  center;
    }
}
*/

/* ==========================================================================
   Navigation
   ========================================================================== */
.nav-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 400;
  transition: all ease-out 0.3s;
  @media only screen and (max-width: $breakpoint-medium) {
    transform: translate3d(0, -100%, 0);
  }
  font-size: 0.9em;
}

.menu-active .nav-header {
  transform: translate3d(0, 0, 0);
}

.nav-close {
  position: fixed;
  z-index: 350;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.2;
  display: none;
  @media (prefers-color-scheme: dark) {
    opacity: 0.4;
  }
}

.menu-active .nav-close {
  @media only screen and (max-width: $breakpoint-medium) {
    display: block;
  }
}

.nav-header .nav-wrapper-control {
  position: absolute;
  z-index: 500;
  left: 0;
  top: 100%;
  width: 100%;
  cursor: pointer;
  display: none;
  color: $color-text-secondary;
  border-top: 1px solid transparent;
  box-sizing: border-box;
  transition: all linear 0.1s;
  @media (prefers-color-scheme: dark) {
    color: $color-text-secondary-dark;
  }
  @media only screen and (max-width: $breakpoint-medium) {
    display: block;
  }

  .inner {
    display: flex;
    justify-content: space-between;
  }

  a {
    position: relative;
    display: block;
    width: 100%;
    padding: 2rem 0;
    font-size: 2em;
    line-height: 2rem;
    color: inherit;
    transition: all ease-out 0.1s;

    i {
      display: inline-block;
      width: 4rem;
    }

    &.nav-search {
      width: auto;
      text-align: right;
    }

    &:focus,
    &:hover {
      color: $color-text-primary;
      @media (prefers-color-scheme: dark) {
        color: $color-text-primary-dark;
      }
    }
  }
}

.cover-active .nav-header .nav-wrapper-control {
  color: #fff;
}

.menu-active .nav-header .nav-wrapper-control {
  background: $color-neutral-15;
  color: $color-text-secondary;
  border-color: $color-border-dark;
  @supports (-webkit-backdrop-filter: blur(2rem)) {
    background: rgba(34, 36, 38, 0.9);
    -webkit-backdrop-filter: blur(2rem);
  }

  a {
    &:focus,
    &:hover {
      color: $color-text-primary-dark;
    }
  }
}

.nav-header .nav-wrapper {
  display: flex;
  max-height: calc(100vh - 6rem);
  padding: 2rem 4rem;
  overflow-y: auto;
  @media only screen and (max-width: $breakpoint-medium) {
    background: $color-neutral-15;
    flex-direction: column;
    @supports (-webkit-backdrop-filter: blur(2rem)) {
      background: rgba(34, 36, 38, 0.9);
      -webkit-backdrop-filter: blur(2rem);
    }
  }
}

.nav-header .logo {
  margin-right: 3rem;
  @media only screen and (max-width: $breakpoint-medium) {
    display: none;
  }

  a {
    display: block;
    height: 4rem;
    padding: 0;

    img {
      display: block;
      width: auto;
      height: 4rem;
    }
  }
}

.nav-header ul {
  position: relative;
  display: flex;
  width: 100%;
  margin: auto;
  padding: 0;
  list-style: none;
  @media only screen and (max-width: $breakpoint-medium) {
    flex-direction: column;
    flex-shrink: 0;
    padding: 2rem 0;
  }

  &:last-child {
    justify-content: flex-end;
    @media only screen and (max-width: $breakpoint-medium) {
      display: none;
    }
  }
}

.nav-header li {
  position: relative;
  margin-right: 3rem;

  &.active {
    a:before {
      position: absolute;
      content: "";
      width: 100%;
      height: 3px;
      left: 0;
      top: 0;
      padding: 0 1rem;
      margin-left: -1rem;
      margin-top: -2rem;
      background: $color-primary;
      @media only screen and (max-width: $breakpoint-medium) {
        left: 0;
        top: 50%;
        width: 1.5rem;
        height: 2px;
        margin-left: 6px;
        margin-top: -1px;
        border-radius: 2px;
        padding: 0;
      }
    }

    a {
      color: $color-neutral-25;
      font-weight: 500;
      @media (prefers-color-scheme: dark) {
        color: $color-neutral-90;
      }
      @media only screen and (max-width: $breakpoint-medium) {
        color: #fff;
      }
    }
  }

  a {
    display: block;
    padding: 1rem 0;
    font-size: 1.5em;
    line-height: 2rem;
    color: $color-neutral-60;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
    font-weight: 400;
    cursor: pointer;
    transition: color linear 0.1s;
    @media only screen and (max-width: $breakpoint-medium) {
      font-size: 2em;
      padding-left: 4rem;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        width: 1.5rem;
        height: 2px;
        margin-left: 6px;
        margin-top: -1px;
        border-radius: 2px;
        background: $color-neutral-25;
      }
    }

    &:focus,
    &:hover {
      color: $color-neutral-25;
      @media (prefers-color-scheme: dark) {
        color: $color-neutral-90;
      }
      @media only screen and (max-width: $breakpoint-medium) {
        color: $color-neutral-80;
      }
    }
  }

  &.nav-facebook,
  &.nav-rss,
  &.nav-search,
  &.nav-subscribe,
  &.nav-twitter {
    margin-right: 1.5rem;

    a {
      font-size: 1.75em;
    }

    span {
      display: none;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

.cover-active {
  .nav-wrapper-control a {
    color: rgba(255, 255, 255, 0.8);

    &:focus,
    &:hover {
      color: #fff;
    }
  }

  .nav-header li {
    a {
      @media only screen and (min-width: $breakpoint-medium) {
        color: rgba(255, 255, 255, 0.8);
      }

      &:focus,
      &:hover {
        @media only screen and (min-width: $breakpoint-medium) {
          color: #fff;
        }
      }
    }

    &.active a {
      @media only screen and (min-width: $breakpoint-medium) {
        color: #fff;
      }
    }
  }
}
